{% for primary_host in groups['primary'] %}
conf={ _id:"{{ dbPort }}", members:[{ _id:0, host:"{{ primary_host }}:{{ dbPort }}", priority:10 }]}
{% endfor %}
rs.initiate(conf)
sleep(5000)
{% for host in groups['secondary'] %}
rs.add("{{ host }}:{{ dbPort }}")
sleep(8000)
{% endfor %}
printjson(rs.status())
